<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="../public/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <header class="header">
        <div class="main-header">
            <img src="../public/img/mercadoLiebreLogo.svg" class="mercadoLiebreLogo" alt="Logo MercadoLiebre">
            <form class="searcher">
                <input type="search" placeholder="Busca productos">
            </form>
            <h2 class="creditPaymentsInfo"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de
                crédito
            </h2>
        </div>
        <a class="burger-menu-bottom">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="nav">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li> <a href="">Tiendas oficiales</a></li>
                <li> <a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li> <a href="register.html">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="login.html">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </nav>
    </header>

    <section class="banner">
        <img src="../public/img/homeBannerMercadoLiebre.jpg" width="100%">
    </section>

    <main>
        <section>
            <h2 class="title">Tus últimas búsquedas</h2>

            <article>
                <img src="../public/img/cafetera.jpg">

                <div class="icon">
                    <i class="fas fa-truck"></i>
                </div>

                <p>
                    <span class="price">$6.770</span>
                    <span class="percentageOff">40% OFF</span>
                </p>

                <p class="productTitle">Cafetera Moulinex</p>
            </article>

            <article>
                <img src="../public/img/macBookPro.jpg">

                <div class="icon">
                    <i class="fas fa-truck"></i>
                </div>

                <p>
                    <span class="price">$230.000</span>
                    <span class="percentageOff">20% OFF</span>
                </p>

                <p class="productTitle">MacBook Pro 2019</p>
            </article>

            <article>
                <img src="../public/img/samsungGalaxyS10.jpg">

                <div class="icon">
                    <i class="fas fa-truck"></i>
                </div>

                <p>
                    <span class="price">$70.500</span>
                    <span class="percentageOff">10% OFF</span>
                </p>

                <p class="productTitle">Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="../public/img/samsungSmartTV.jpg">

                <div class="icon">
                    <i class="fas fa-truck"></i>
                </div>

                <p>
                    <span class="price">$23.200</span>
                    <span class="percentageOff">5% OFF</span>
                </p>

                <p class="productTitle">SmartTV Samsung 43"</p>
            </article>
        </section>

        <section>
            <h2 class="title">Ofertas</h2>

            <article>
                <img src="../public/img/cafetera.jpg">

                <div class="icon">
                    <i class="fas fa-truck"></i>
                </div>

                <p>
                    <span class="price">$6.770</span>
                    <span class="percentageOff">40% OFF</span>
                </p>

                <p class="productTitle">Cafetera Moulinex</p>
            </article>

            <article>
                <img src="../public/img/macBookPro.jpg">

                <div class="icon">
                    <i class="fas fa-truck"></i>
                </div>

                <p>
                    <span class="price">$230.000</span>
                    <span class="percentageOff">20% OFF</span>
                </p>

                <p class="productTitle">MacBook Pro 2019</p>
            </article>

            <article>
                <img src="../public/img/samsungGalaxyS10.jpg">

                <div class="icon">
                    <i class="fas fa-truck"></i>
                </div>

                <p>
                    <span class="price">$70.500</span>
                    <span class="percentageOff">10% OFF</span>
                </p>

                <p class="productTitle">Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="../public/img/samsungSmartTV.jpg">

                <div class="icon">
                    <i class="fas fa-truck"></i>
                </div>

                <p>
                    <span class="price">$23.200</span>
                    <span class="percentageOff">5% OFF</span>
                </p>

                <p class="productTitle">SmartTV Samsung 43"</p>
            </article>
        </section>

    </main>

    <footer>
        <div>
            <i class="fas fa-credit-card"></i>
            <h2>Paga con tarjeta o efectivo</h2>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h2>Envia gratis desde $2.500</h2>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
            </p>
        </div>
    </footer>
    <br>
    <span class="copyrights">
        Copyright © 1999-2020 MercadoLiebre S.R.L.
    </span>
    <br>
</body>

</html>